@import 'tailwindcss';

@theme {
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
}

body {
  font-family: var(--font-inter), sans-serif;
  background-color: #f9fafb;
  color: #111827;
}

.font-serif {
  font-family: var(--font-playfair), serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
